.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem auto;
}

.card {
  width: calc(100% * (1 / 2) - 5rem);
  height: 400px;
  margin: 1.3rem;
  padding: 1rem;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.cardContent {
  height: 80%;
  overflow: auto;
}
