.header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  align-items: flex-end;
  text-transform: lowercase;
  position: relative;
}

.header-info-text {
  margin-left: 4px;
  font-weight: 600;
  text-transform: none;
}

.header-extra {
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
}
