@import "@src/const/index.scss";

html {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  overflow-x: hidden;
  @include media(tablet) {
    font-size: 14px;
  }
  @include media(mobile) {
    font-size: 12px;
  }
}

body {
  font-family: "Avenir Next", Avenir Next, sans-serif;
  margin: 0;
  background-color: #111;
  width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: "Avenir Next", Avenir Next, sans-serif;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: $text__h1;
  color: #222;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: $text__h1;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h3 {
  font-size: $text__h2;
  margin: 0;
  padding: 0;
  font-weight: 600;
  @include media(tablet) {
    font-size: $text__h1;
  }
}

h4 {
  font-size: $text__h3;
  margin: 0;
  padding: 0;
  font-weight: 600;
  @include media(tablet) {
    font-size: $text__h2;
  }
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  @include media(tablet) {
    font-size: $text__h3;
  }
}

figure {
  margin: 0;
  padding: 0;
}

.layout {
  background-color: #111;
  transform-origin: 50% 0%;
  padding-top: 42px;

  @mixin initial {
    opacity: 0;
    transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: scale3d(0.99, 0.99, 1);
  }

  @mixin final {
    opacity: 1;
    transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: scale3d(1, 1, 1);
  }

  &.entering,
  &.exiting,
  &.exited {
    @include initial;
    transition-delay: 0.15s;
    section > div,
    section > h3,
    section > h2,
    section > h1 {
      @include initial;
      transition-duration: 0.15s;
    }
  }

  &.entered {
    @include final;
    section > div,
    section > h3,
    section > h2,
    section > h1 {
      @include final;
      transition-delay: 0.15s;
      transition-duration: 0.15s;
    }
  }

  &Loading {
    width: 100vw;
    height: 90vh;
    @include flexbox(row, center, center);
    > div {
      width: 48px;
      height: 48px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

:global {
  #drift-widget-container {
    @include media(mobile) {
      display: none;
    }
  }
}
